<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EstasInvitado.com.ar</title>
    <meta name="description" content="">
    <meta name="author" content="Dalmasso Pablo">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url home %}">EstasInvitado.com.ar</a>
            <ul class="nav">
                <li><a href="{% url home %}" class=""><span class="new-wrapper"><i class="icon-home"></i></span> Index</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="{% url home %}" class="dropdown-toggle" data-toggle="dropdown">
                            Evento
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url write_evento %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nuevo Evento</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url home %}" class="dropdown-toggle" data-toggle="dropdown">
                            Invitados
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url write_familia %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nueva Familia</a></li>
                            <li><a href="{% url write_invitado %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nueva Invitado</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% url home %}" class="dropdown-toggle" data-toggle="dropdown">
                            Domicilio
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url write_pais %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nuevo Pais</a></li>
                            <li><a href="{% url write_provincia %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nueva Provincia</a></li>
                            <li><a href="{% url write_localidad %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nueva Localidad</a></li>
                            <li><a href="{% url write_domicilio %}"><span class="new-wrapper"><i class="icon-pencil"></i></span> Nuevo Domicilio</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li class="dropdown">
                            <a href="{% url home %}" class="dropdown-toggle" data-toggle="dropdown"><span class="new-wrapper"><i class="icon-user"></i>
                            Usuario
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="/accounts/login/"><span class="new-wrapper"><i class="icon-user"></i></span> Login</a></li>
                            <li><a href="{% url new_user %}"><span class="new-wrapper"><i class="icon-user"></i></span> Registrar</a></li>
                            </ul>
                        </li>

                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li><a href="" > </a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="new-wrapper"><i class="icon-user"></i></span> {{ user.username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                            <li><a href="/admin/"><span class="new-wrapper"><i class="icon-wrench"></i></span> Django Admin</a></li>
                            {% endif %}
                            <li><a href="/logout" ><span class="new-wrapper"><i class="icon-off"></i></span> Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    </br>

    {% block content %}Empty page{% endblock %}
    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>EstasInvitado.com.ar V 0.1</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                {% if user.is_authenticated %}
                <a href="/logout" ><span class="new-wrapper"><i class="icon-off"></i></span> Logout</a>
                {% else %}
                <a href="/accounts/login/"><span class="new-wrapper"><i class="icon-user"></i></span> Login</a>
                {% endif %}
                |
                <a href="#">Home</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
