{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h1>{{ title }} </h1>
    <p>&nbsp;</p>
    <form class="form-{{ layout }}" action="" method="post">
        {% if Resultado != None %}
            <div class="span4">
                <div class="alert alert-success">
                  <a href="#" class="close" data-dismiss="alert">×</a>
                  <strong>Resultado: </strong> {{ Resultado }}
                </div>
            </div>
            </br>
            </br>
            </br>
            </br>
        {% endif %}
        {% csrf_token %}
        {{ form|as_bootstrap:layout }}
        {% if layout == "horizontal" %}
            <p class="form-actions">
                <input type="submit" value="Solicitar" class="btn btn-inverse">
            </p>
        {% else %}
            <input type="submit" value="Solicitar" class="btn btn-inverse">
        {% endif %}
    </form>

{% endblock %}
